:root {
	--primary: #0a1250;
	--secondary: #123795;
	--white: #fff;
	--font: #0a1250;
	--font-hover: #007ea0;
	--font-rev: #ffffff;
	--bg: #ffffff;
	--bg-rev: #0a1250;
	--bg-gray: #dddddd;
	--colr-focus: #005e79;
}

/* xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px */
@include media-breakpoint-up(sm) {
	...
}

@include media-breakpoint-up(md) {
	...
}

@include media-breakpoint-up(lg) {
	...
}

@include media-breakpoint-up(xl) {
	...
}

@include media-breakpoint-up(xxl) {
	...
}

.bg-body-tertiary {
	margin: 0 !important;
	background-color: var(--bg-gray) !important;
}

.bg-gray {
	background-color: var(--bg-gray) !important;
}

.btn-outline-primary {
	color: var(--primary) !important;
	border: 2px solid var(--font) !important;
	transition: 0.2s;
	font-weight: 500;
	font-size: x-small;
	padding: 5px 10px;
}

.btn-outline-white {
	color: var(--white) !important;
	border: 2px solid var(--white) !important;
	transition: 0.2s;
	font-weight: 500;
	font-size: x-small;
	padding: 5px 10px;
}

.btn-outline-primary:hover {
	/* color: #28c8f6 !important; */
	/* border: 1px solid #28c8f6 !important; */
	background-color: #ffffff00 !important;
	transform: scale(1.1, 1.1);
	transition: 0.2s;
}

button:focus,
.button:active,
.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none !important;
}

/*Card -- START*/
.card {
	transition: transform .3s;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 14%);
}

.card-body:hover {
	transition: transform .3s;
	transform: scale(1.08);
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 11%);
}

.card-body {
	transition: transform .3s;
}

.card-title span {
	color: black !important;
}

.card-text {
	font-size: medium !important;
	color: var(--bs-secondary-color) !important;
}

.i-cards {
	font-size: xxx-large !important;
}

/*Card -- END*/

/*Banner -- START*/
.ban-cur-1 .banner-text-panel {
	margin-left: 5% !important;
	text-align: left;

}

.ban-cur-3 .banner-text-panel {
	margin-left: 5% !important;
	text-align: left;

}

.ban-cur-4 .banner-text-panel {
	margin-right: 5% !important;
	text-align: right;
}

.ban-cur-1,
.ban-cur-3,
.ban-cur-4 .banner-img {
	position: relative;
}

.ban-cur-1 .banner-img img {
	height: 100%;
	position: absolute;
	bottom: -10px;
	right: -8px;
}

.ban-cur-3 .banner-img img {
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.ban-cur-4 .banner-img img {
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
}

@media (max-width: 374px) {

	.ban-cur-1 .banner-img img {
		height: 50% !important;
		/* left: -120% !important; */
	}

	.ban-cur-3 .banner-img img {
		height: 50% !important;
		/* left: -50% !important; */
	}

	.ban-cur-4 .banner-img img {
		height: 50% !important;
		right: -50% !important;
	}

	.ban-cur-1,
	.ban-cur-3,
	.ban-cur-4 .banner-header-3 {
		width: 180px;
	}
}

@media (max-width: 576px) {

	/* .ban-cur-1,
	.ban-cur-3,
	.ban-cur-4 .banner-cur-content {
		height: 60vh;
	} */

	.ban-cur-1,
	.ban-cur-3,
	.ban-cur-4 .change-order {
		order: 6;
	}
}

@media (min-width: 375px) {

	.ban-cur-1 .banner-text-panel {
		margin-top: 5% !important;
	}

	.ban-cur-3 .banner-text-panel {
		margin-top: 5% !important;
	}

	.ban-cur-4 .banner-text-panel {
		margin-top: 5% !important;
	}

	.ban-cur-1 .banner-img img {
		height: 50% !important;
		/* left: -110% !important; */
	}

	.ban-cur-3 .banner-img img {
		height: 50% !important;
		/* left: -50% !important; */
	}

	.ban-cur-4 .banner-img img {
		height: 50% !important;
		right: -50% !important;
	}

	.ban-cur-1 .banner-header-1,
	.ban-cur-1 .banner-header-2 {
		font-size: calc(1.225rem + 0.5vw);
	}

	.ban-cur-3 .banner-header-1,
	.ban-cur-3 .banner-header-2 {
		font-size: calc(1.225rem + 0.5vw);
	}

	.ban-cur-4 .banner-header-1 {
		font-size: calc(1.rem + 0.3vw);
	}

	.ban-cur-4 .banner-header-2 {
		font-size: calc(1.rem + 0.3vw);
	}

	.ban-cur-1 .banner-header-2 {
		width: 180px;
	}

	.ban-cur-3 .banner-header-2 {
		width: 180px;
	}
}

@media (min-width: 410px) {

	/* .ban-cur-1 .banner-text-panel {
		margin-left: 0% !important;
	} */

	/* .ban-cur-4 .banner-text-panel {
		margin-right: 0% !important;
	} */

	.ban-cur-1 .banner-img img {
		height: 60% !important;
		/* left: -80% !important; */
	}

	.ban-cur-4 .banner-img img {
		height: 60% !important;
		right: -40% !important;
	}
}

@media (max-width: 490px) and (min-width: 375px) {
	.ban-cur-3 .banner-img img {
		height: 50% !important;
		/* left: -20% !important; */
	}
}

@media (min-width: 510px) {

	.ban-cur-1 .banner-text-panel {
		margin-left: 5% !important;
	}

	.ban-cur-3 .banner-text-panel {
		margin-left: 5% !important;
	}

	.ban-cur-4 .banner-text-panel {
		margin-right: 5% !important;
	}

	.ban-cur-1 .banner-img img {
		height: 80% !important;
		/* left: -70% !important; */
	}

	.ban-cur-3 .banner-img img {
		height: 80% !important;
		/* left: 0% !important; */
	}

	.ban-cur-4 .banner-img img {
		height: 80% !important;
		right: -50% !important;
	}

	.ban-cur-1 .banner-header-1,
	.ban-cur-1 .banner-header-2 {
		font-size: calc(1.525rem + 1.7vw);
		width: 420px;
	}

	.ban-cur-3 .banner-header-1,
	.ban-cur-3 .banner-header-2 {
		font-size: calc(1.525rem + 1.7vw);
		width: 400px;
	}

	.ban-cur-4 .banner-header-1 {
		font-size: calc(1.525rem + 1.3vw);
		/* width: 220px; */
	}

	.ban-cur-4 .banner-header-2 {
		font-size: calc(1.525rem + 1.3vw);
		/* width: 220px; */
	}
}

@media (min-width: 576px) {

	/* .ban-cur-1,
	.ban-cur-3,
	.ban-cur-4 .banner-cur-content {
		height: 72vh;
	} */
}

@media (min-width: 610px) {

	.ban-cur-1 .banner-header-2 {
		width: 240px;
	}

	.ban-cur-3 .banner-header-2 {
		width: 400px;
	}
}

@media (min-width: 670px) {

	.ban-cur-1 .banner-text-panel {
		margin-left: 8% !important;
	}

	.ban-cur-3 .banner-text-panel {
		margin-left: 8% !important;
	}

	.ban-cur-4 .banner-text-panel {
		margin-right: 8% !important;
	}
}

@media (min-width: 740px) {

	.ban-cur-1 .banner-img img {
		height: 80% !important;
		left: -30% !important;
	}

	.ban-cur-3 .banner-img img {
		height: 80% !important;
		left: 0% !important;
	}

	.ban-cur-4 .banner-img img {
		height: 80% !important;
		right: -10% !important;
	}
}

@media (min-width: 800px) {

	.ban-cur-1 .banner-header-2 {
		width: 260px;
	}

	.ban-cur-3 .banner-header-2 {
		width: 400px;
	}
}

@media (min-width: 920px) {

	.ban-cur-1 .banner-text-panel {
		margin-left: 12% !important;
		margin-top: 2% !important;
	}

	.ban-cur-3 .banner-text-panel {
		margin-left: 12% !important;
		margin-top: 2% !important;
	}

	.ban-cur-4 .banner-text-panel {
		margin-top: 2% !important;
		margin-right: 12% !important;
	}
}

@media (min-width: 1040px) {

	.ban-cur-1 .banner-header-2 {
		width: 280px;
	}

	.ban-cur-3 .banner-header-2 {
		width: 400px;
	}
}

@media (min-width: 1220px) {

	.ban-cur-1 .banner-text-panel {
		margin-left: 18% !important;
	}

	.ban-cur-3 .banner-text-panel {
		margin-left: 18% !important;
	}

	.ban-cur-4 .banner-text-panel {
		margin-right: 18% !important;
	}

	.ban-cur-1 .banner-header-2 {
		width: 300px;
	}

	.ban-cur-3 .banner-header-2 {
		width: 400px;
	}

	/* .ban-cur-1,
	.ban-cur-3,
	.ban-cur-4 .banner-cur-content {
		height: 70vh;
	} */
}

@media (min-width: 1370px) {

	.ban-cur-1 .banner-text-panel {
		margin-left: 22% !important;
	}

	.ban-cur-3 .banner-text-panel {
		margin-left: 22% !important;
	}

	.ban-cur-4 .banner-text-panel {
		margin-right: 22% !important;
	}
}

@media (min-width: 1440px) {

	.ban-cur-1 .banner-header-2 {
		width: 320px;
	}

	.ban-cur-3 .banner-header-2 {
		width: 400px;
	}
}

@media (min-width: 1680px) {

	.ban-cur-1 .banner-text-panel {
		margin-left: 26% !important;
	}

	.ban-cur-3 .banner-text-panel {
		margin-left: 26% !important;
	}

	.ban-cur-4 .banner-text-panel {
		margin-right: 26% !important;
	}

	.ban-cur-1 .banner-header-2 {
		width: 340px;
	}

	.ban-cur-3 .banner-header-2 {
		width: 340px;
	}
}


@media (min-width: 1840px) {

	.ban-cur-1 .banner-header-2 {
		width: 360px;
	}

	.ban-cur-3 .banner-header-2 {
		width: 400px;
	}
}

@media (min-width: 2040px) {

	.ban-cur-1,
	.ban-cur-3,
	.ban-cur-4 .banner-header-2 {
		width: 400px;
	}
}

@media (min-width: 2240px) {

	.ban-cur-1 .banner-header-2 {
		width: 400px;
	}

	.ban-cur-3 .banner-header-2 {
		width: 400px;
	}
}

@media (min-width: 2440px) {

	.ban-cur-1 .banner-header-2 {
		width: 420px;
	}

	.ban-cur-3 .banner-header-2 {
		width: 420px;
	}
}

.ban-cur-1 .banner-header-1 {
	color: var(--font) !important;
	font-weight: 400 !important;
	/* max-width: 200px !important; */
	/* padding-left: 6%; */
}

.ban-cur-3 .banner-header-1 {
	color: var(--font) !important;
	font-weight: 400 !important;
	max-width: 400px !important;
	/* padding-left: 6%; */
}

.ban-cur-4 .banner-header-1 {
	color: var(--font) !important;
	font-weight: 400 !important;
	/* width: 100%;
	position: relative;
    right: 0;
	text-align: end; */
	white-space: nowrap;
	direction: rtl;
}

.ban-cur-1 .banner-header-2 {
	color: var(--font) !important;
	font-weight: 400 !important;
	border: 6px solid var(--bg) !important;
	box-shadow: inset 0px 0px 2px 0px #888888, 0px 0px 2px 0px #888888;
	padding: 0 4%;
	/* margin-right: 40px; */
}

.ban-cur-3 .banner-header-2 {
	color: var(--font) !important;
	font-weight: 400 !important;
	border: 6px solid var(--bg) !important;
	box-shadow: inset 0px 0px 2px 0px #888888, 0px 0px 2px 0px #888888;
	padding: 0 4%;
	/* margin-right: 40px; */
}

.ban-cur-4 .banner-header-2 {
	/* color: var(--font) !important; */
	font-weight: 400 !important;
	/* padding-top: 40px !important; */
	white-space: nowrap;
	float: right;
	/* width: 100%; */
	/* border: 6px solid var(--bg) !important;
	box-shadow: inset 0px 0px 2px 0px #888888, 0px 0px 2px 0px #888888; */
	/* position: absolute;
    right: 0;
	padding-top: 40px !important;
	white-space: nowrap; */
	/* margin-right: 40px; */
}

.ban-cur-1 .banner-header-3 {
	padding-left: 20px !important;
	font-size: small;
	position: relative;
	z-index: 1;
	border-radius: 10px;
	background: #fcfcfcad;
}

.ban-cur-3 .banner-header-3 {
	padding-left: 20px !important;
	font-size: small;
	position: relative;
	z-index: 1;
	border-radius: 10px;
	background: #fcfcfcad;
}

.ban-cur-4 .banner-header-3 {
	padding-left: 20px !important;
	font-size: small;
	position: relative;
	z-index: 1;
	border-radius: 10px;
	background: #fcfcfcad;
	margin-top: 30px !important;

}

.ban-cur-1 .banner-header-btn {
	font-size: small;
	position: relative;
	z-index: 1;
	/* padding-left: 20px !important; */
}

.ban-cur-3 .banner-header-btn {
	font-size: small;
	position: relative;
	z-index: 1;
	/* padding-left: 20px !important; */
}

.ban-cur-4 .banner-header-btn {
	font-size: small;
	position: relative;
	z-index: 1;
	padding: 0 6% !important;
}



/*Banner -- END*/
/*Status cunter -- START*/
.card-custom {
	box-shadow: unset !important;
	padding-right: 20px !important;
	-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, transparent), color-stop(0.5, #ddd), color-stop(0.5, #ddd), color-stop(1, transparent)) 0 100%;
	border-right-width: 2px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	padding: 2px;
}

/*Status cunter -- START*/

#stats {
	background-color: var(--primary) !important;
}

#stats p {
	color: #ffffff !important;
}

#stats span {
	color: #ffffff !important;
	/* font-size: xxx-large !important; */
	font-weight: 700 !important;
}

@media (min-width: 375px) {
	#stats span {
		font-size: x-large !important;
	}
}

/*Status cunter -- END*/

/*Carousel cunter -- START*/

#feedback-carousel .carousel-item {
	/* height: 400px; */
}

#feedback-carousel .carousel-item .carousel-caption {
	top:30px;
}

#article-carousel .carousel-item {
	height: 450px;
}

#article-carousel-btn,
#interview-carousel-btn {
	position: relative;
	width: 100px;
	padding-top: 30px;
	margin-left: auto;
	margin-right: 30px;
	margin-bottom: 20px;
}

.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
	{
	filter: invert(100%);
	width: 50px;
}

.carousel-control-next,
.carousel-control-prev {
	height: 50px;
	margin: auto;
}

#article-carousel .card-img-top {
	width: auto !important;
	height: 240px !important;
	object-fit: cover !important;
	object-position: center !important;
}

/*Carousel cunter -- END*/





/*#home, .gallery-container, #speaking-engagement{
	z-index: -1;
    position: relative;
}*/
#section-possibilities {
	padding-top: 70px !important;
	padding-bottom: 70px !important;
}



.card-title {
	color: var(--secondary) !important;
	/* #28c8f6 !important; */
}

.card-body {
	z-index: 1111 !important;
}

/*Navigation Bar -- START*/


.nav-item {
	padding-left: 2%;
	font-size: large;
	font-weight: 500;
}

@media (max-width: 1390px) {
	.nav-item {
		font-size: medium !important;
	}
}

@media (max-width: 850px) {
	.nav-item {
		font-size: small !important;
	}
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
	border-radius: unset;
	background-color: unset;
	border-bottom: 5px var(--font) solid;
	color: var(--font) !important;
	transform: scale(1.1, 1);
}

.nav-link {
	padding: 25px 0;
	cursor: pointer;
}

/*Navigation Bar -- END*/





/*IMAGE GALLERY -- START*/

#gallery_content {
	background-color: var(--primary) !important;
}

#gallery_content p {
	color: #ffffff !important;
}

#navbarGallery .navbar-nav {
	margin-left: auto;
}

#navbarGallery .nav-link {
	top: -1px;
	position: relative;
	font-size: large;
	color: #ffffff;
	background: var(--primary);
	padding: 15px 15px 25px 15px;
	margin-top: 25px;
}

#bkToTopButton a {
	background-color: var(--primary);
}

.container.gallery-container {
	background-color: #fff;
	color: #35373a;
	min-height: 100vh;
	padding: 30px 50px;
}

.gallery-container h1 {
	text-align: center;
	margin-top: 50px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
}

.gallery-container p.page-description {
	text-align: center;
	margin: 25px auto;
	font-size: 18px;
	color: #999;
}

.tz-gallery {
	padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row>div {
	padding: 2px;
}

.tz-gallery .lightbox img {
	width: 100%;
	height: 240px;
	object-fit: cover;
	border-radius: 0;
	position: relative;
}

.tz-gallery .lightbox:before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	opacity: 0;
	color: #fff;
	font-size: 26px;
	font-family: 'Glyphicons Halflings';
	content: '\e003';
	pointer-events: none;
	z-index: 9000;
	transition: 0.4s;
}


/*.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}*/

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
	opacity: 1;
}

.baguetteBox-button {
	background-color: transparent !important;
}

.gallery-container {
	top: -15px !important;
	position: relative !important;
}

.gallery-bracd {
	font-size: x-large;
	color: #ffffff !important;
	font-weight: 600;
}

@media(max-width: 768px) {
	body {
		padding: 0;
	}
}

/*IMAGE GALLERY -- END*/


.gradient-border-fade-to-top-left {
	padding: 25px 20px 30px 0px;
	margin-top: 10px;
	border: 4px solid;
	border-image: linear-gradient(to top left, #35373a 0%, #00000000 50%) 40% 1;
}

.gradient-border-fade-to-top-right {
	padding: 25px 0px 30px 20px;
	margin-top: 10px;
	border: 4px solid;
	border-image: linear-gradient(to top right, #35373a 0%, #00000000 50%) 40% 1;
}

.card-border {
	padding: 25px 0px 30px 20px;
	margin-top: 10px;
	border: 2px solid #ddd
}

.marg-left {
	margin-left: 10%;
}

.marg-right {
	margin-right: 10%;
}

/* Back to Top -- START */
.show-backtotop {
	opacity: 1;
	transition: 0.4s;
}

.hide-backtotop {
	opacity: 0;
	transition: 0.4s;
}

.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;

	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}

/* Back to Top -- END */


.iframe-container {
	overflow: hidden;
	padding-top: 56.25%;
	/* 16:9 */
	position: relative;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	width: 100%;
	height: 100%;
}